/* Container holds the icon and establishes the layout boundary */
.info-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
}

.info-dropdown {
  position: absolute;
  /* transform: translateX(-50%);  */
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  padding: 12px;
  width: 100px;
  font-size: 14px;
}
